{% extends '::base.html.twig' %}

{% block body %}

	<div class="jumbotron">
	  	<div class="container">
		 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ut, exercitationem, ipsa laboriosam sit quibusdam odit voluptatibus dicta maiores obcaecati ipsam aliquam animi reprehenderit ea cum quis! Maiores, quam distinctio.</p>
	  	</div>
	</div>

{% endblock %}
